#block-body{
	width: 1035px;
	height: auto;
	border: 1px solid black;
	margin: 0 auto;
}
#block-header{
	width: 1035px;
	height: 220px;
	border: 1px solid black;
}
#block-right{
	width: 220px;
	height: 400px;
	border: 1px solid black;
	float: right;
}
#block-content{
	width: 800px;
	height: 400px;
	border: 1px solid black;
}
#header-top-block{
	width: 1035px;
	height: 40px;
	border: 1px solid black;
}
#block-footer{
	width: 1035px;
	height: 160px;
	margin-top: 10px;
	border: 1px solid black;
}

#header-top-menu li{
	list-style-type: none;
    font: 15px sans-serif;
    float: left;    
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #E3E3E3;
}
#header-top-menu a{
    font: 15px sans-serif;
    color: #00678C;
    text-decoration: none;
}
#header-top-menu a:hover{
    color: #EF662B;
    border-bottom: 1px dashed #EF662B;
}
#header-top-menu span{
    color: #EF662B;
    border-bottom: 1px dashed #EF662B;
}
#reg-auth-title{
    margin-bottom: 10px;
    margin-right: 10px;
}
#reg-auth-title > a#active-button{
   background: url(images/auth-butt-bg-click.png);
}
#reg-auth-title a.top-auth{
    font:bold 13px sans-serif;
    text-decoration: none;
    background: url(images/auth-butt-bg.png);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #E9EAEA;
    color: black;
        border-radius:5px ; /* ќстальные */
   -webkit-border-radius:5px ; /* safari */
   -moz-border-radius:5px ; /* firefox */ 
   cursor: pointer;
}
#reg-auth-title a.top-auth:hover{
    background: url(images/auth-butt-bg-move.png);
}
#reg-auth-title a{
    font:14px sans-serif;
    text-decoration: none;
    color: #EF662B;
    margin-left: 10px;
    border-bottom: 1px dashed #EF662B;
}
#reg-auth-title a:hover{
    border-bottom:none;
}
#top-line{
	background: url(images/line.png);
    width: 1035px;
    height: 5px;
}
#img-logo{
    margin-top: 12px;
    position: absolute;
}
#personal-info{
    width: 300px;
    margin-left: 730px;
    margin-top: 7px;
}


